 <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <input type="hidden" name="supplier_id" id="supplier_id" value=<%= params[:supplier_id] %> />
  </div>
  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount, required: true %>
    <%= f.hidden_field :supplier_id, value: "#{Supplier.find(params[:supplier_id]).id.to_i}" %>
  </div>
  <div class="actions">
    <%= f.submit 'Create Invoice' %>
  </div>
