<p id="notice"><%= notice %></p>

<h1>Invoices</h1>

<table>
  <thead>
    <tr>
      <th colspan="1"> Supplier</th>
      <th colspan="1"> Amount</th>
      <th colspan="1"> Status</th>
      <th colspan="3"> Actions</th>

    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.supplier.name %></td>
        <td><%= invoice.amount %></td>
        <td><%= invoice.pay_status %></td>
        <td><%= link_to 'Pay', pay_invoice_path(:id => invoice.id) %></td>
        <td><%= link_to 'Edit', edit_invoice_path(:id => invoice.id, :supplier_id => params[:supplier_id]) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

