<p id="notice"><%= notice %></p>

<h1>Invoices</h1>

<table>
  <thead>
    <tr>
      <th colspan="1"> Supplier</th>
      <th colspan="1"> Amount</th>
      <th colspan="3"> Actions</th>

    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.supplier.name %></td>
        <td><%= invoice.amount %></td>
        <td><%= link_to 'Show', supplier_invoices_path(invoice) %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice.id) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

