<p id="notice"><%= notice %></p>
<table>
  <thead>
  <tr>
    <th colspan="1"> Supplier</th>
    <th colspan="1"> Amount</th>
    <th colspan="1">Status</th>
    <th colspan="2"> Actions</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><%= @invoice.supplier.name %></td>
    <td><%= @invoice.amount %></td>
    <td><%= @invoice.pay_status %></td>
    <td><%= link_to 'Destroy', @invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>

  </tbody>
</table>
<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoice_path %>
