<%= form_with(model: supplier, local: true) do |f| %>
  <% if supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
      <% supplier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= f.label :account_number %>
    <%= f.text_field :account_number, required: true %>
  </div>

  <!-- TODO: Populate select menu with list of banks PayStack supports. -->
  <div class="field">
    <%= f.label :bank_name %>
    <%= f.text_field :bank_name, required: true %>
  </div>

  <div class="field">
    <%= f.label :contact %>
    <%= f.text_field :contact, required: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
